[defaults]
host_key_checking = False
inventory = inventory/hosts.yml
remote_user = ansible
vault_password_file = vault-password.txt
interpreter_python = auto_silent

[privilege_escalation]
become = True
become_method = sudo
